
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Montserrat:wght@300&family=Roboto:ital,wght@0,300;0,400;1,900&display=swap');

#map {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: end;
    margin-right:0;
    margin-left:auto;
       
}

body{
    background-color: black;
    color: white;
    
    
}

#legend-rect{
    fill: #e8ff4f;
    
}

#legend-title{
    position: fixed;
    left: 2vw;
    top:22vh;
    z-index: 99;
    font-family:Arial, Helvetica, sans-serif;
}

.dropdown{
    position: fixed;
    right: 6vw;
    top:7vh;
    z-index: 99;
    font-family:Arial, Helvetica, sans-serif;
    
}
#content{
    color:black;
    font-family:Arial, Helvetica, sans-serif;
}
.dropdown>*{
    font-size: medium;
    padding:5px;
}

#legend{
    left: 2vw;
    top:25vh;
    position:fixed;
    display:flex;
    flex-direction: column;
    z-index: 99;
}
#legend >*{
    color: black;
    padding:5px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: white;
}

.info-image{
    width:300px;
    height: auto;
}

#buttonLink {
    
    border: solid;
    border-width: 1.5px;
    border-radius: 10px;
    color: #334E7A;
    padding: 15px;
    margin-left: 0px;
    margin-top: 20px;
    border-color: #334E7A;
    background-color: white;
    transition: 0.3s ease-out;

}

#buttonLink:hover {
    border-color: white;
    background-color: #334E7A;
    color: white;
    border-color: white;
    

}

#content{
    margin:15px;
}

#pageTitle{
    /*text-align: center;*/
    font-family: 'Fira Sans', sans-serif;
    margin-left: 30px;
}








  
  
  
